[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bigDM"]
	path = bigDM
	url = https://github.com/spatialstatisticsupna/bigdm
	shallow = true
	registered = true
[submodule "RGISTools"]
	path = RGISTools
	url = https://github.com/spatialstatisticsupna/rgistools
	shallow = true
	registered = true
